[run]
omit =
    */tests/*
    */test_*.py
    src/*/tests/*
    src/*/test_*.py
    src/test_logging.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if __name__ == "__main__":