<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Configurazione reverse proxy per Django -->
        <rewrite>
            <rules>
                <rule name="Django Reverse Proxy" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:8000/{R:0}" />
                </rule>
            </rules>
        </rewrite>

        <!-- Headers per CORS e sicurezza -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Forwarded-Proto" value="https" />
                <add name="X-Forwarded-Host" value="{HTTP_HOST}" />
            </customHeaders>
        </httpProtocol>

        <!-- Serve file statici direttamente da IIS -->
        <staticContent>
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
